<!DOCTYPE html>
<html>

<head>
    <title>COMPETITIONS</title>
</head>

<center>

    <body>
        <% include ../partials/nav.ejs %>
        <h1>List of Competitions</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Competition Name</th>
                <th>Schedule</th>
                <th>List of Clubs</th>
            </tr>
            <tr>
                <% listCompetitions.map(x => { %>
                <td><%= x.id%></td>
                <td><%= x.competition_name%></td>
                <td><%= x.schedule%></td>
                <td>
                    <a href="/competitions/<%= x.id %>">Teams</a>
                </td>
            </tr>
            <%})%>
        </table>
        <h2><a href="/competitions/register">Add A Competition!</a></h2>
    </body>
</center>

</html>