<% include ./partials/headerAdmin %>
<br><br>
<h1>Register A Custom Club!</h1>
<form method="POST">
    Club Name:<br />
    <input type="text" name="club_name" placeholder="Club Name" /><br /><br />
    Address:<br />
    <input type="text" name="address" placeholder="Address" /><br /><br />
    <input type="submit" value="Register!" />
</form>