<% include ./partials/headerAdmin %>
<br></br>

<form method="POST">
        <h1>Make Your Own Competition!</h1>
    Competition Name:<br />
    <input type="text" name="competition_name" placeholder="Competition Name" />
    Schedule:<br />
    <input type="date" name="schedule" />
    <input type="submit" value="Register!" />
</form>