<!DOCTYPE html>
<html>
  <head>
    <title>CYBER LEAGUE</title>
  </head>
  <center>
    <body>
        <% include partials/nav.ejs %>
      <h1>Cyber League</h1>
      <h3><a href="/players">List of Players</a></h3>
      <h3><a href="/clubs">List of Clubs</a></h3>
      <h3><a href="/competitions">List of Competitions</a></h3>
    </body>
  </center>
</html>