<% include ./partials/headerPromotor %>
<section>
    <h1>List of Competitors</h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Club Name</th>
                    <th>Address</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <% registeredTeam.Clubs.map(x => { %>
                <tr>
                    <td><%=x.club_name%></td>
                    <td><%=x.address%></td>
                </tr>
                <%})%>
            </tbody>
        </table>
    </div>

    <!-- follow me template -->
    <div class="made-with-love">
        Made with
        <i>♥</i> by
        <a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
    </div>

    